<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--一定要写对-->
<mapper namespace="com.work.work.mapper.OrderMapper">
    <insert id="insertOrder" parameterType="com.work.work.entity.Order">
        INSERT INTO orders (userid, order_code, totalPrice, create_time, address_id, receiver, phone, address)
        VALUES (#{userId}, #{orderCode}, #{totalPrice}, NOW(), #{addressId}, #{receiver}, #{phone}, #{address})
    </insert>

    <update id="insertCode">
        UPDATE wn_caritem
        SET code = #{orderCode}
        WHERE userid = #{userId} AND code is null
    </update>

    <select id="getOrderListByUserId">
        SELECT * from orders WHERE userid = #{userId}
    </select>
    <select id="getGoodsByOrderCode" parameterType="long" resultType="com.work.work.entity.Goods">
        SELECT goods.id, goods.name, goods.NormalPrice, goods.SurprisePrice, goods.imageUrl, goods.description, goods.category,wn_caritem.num
        FROM goods
                 INNER JOIN wn_caritem ON goods.id = wn_caritem.goodid
        WHERE wn_caritem.code = #{orderCode}


    </select>

    <select id="getOrderByOrderCode">
    SELECT * FROM orders WHERE order_code = #{orderCode}
    </select>
    <delete id="deleteOrderAndItems">
        DELETE orders, wn_caritem
    FROM orders
    LEFT JOIN wn_caritem ON orders.order_code = wn_caritem.code AND orders.userid = wn_caritem.userid
    WHERE orders.order_code = #{orderCode} AND orders.userid = #{userId}
    </delete>


    <update id="updateCarItemQuantity">
        UPDATE wn_caritem
        SET num = #{quantity}
        WHERE userid = #{userId} AND goodid = #{goodId} AND code = #{orderCode}
    </update>

    <update id="updateOrderTotalPrice">
        UPDATE orders
        SET totalPrice = #{totalPrice}
        WHERE order_code = #{orderCode}
    </update>

    <select id="getGoodIdByCode">
        SELECT goodid FROM wn_caritem WHERE code = #{orderCode}
    </select>
<select id="getCodeNum">
    SELECT num FROM wn_caritem WHERE userid = #{userid} AND goodid = #{goodid} AND code  = #{orderCode}
</select>

<update id="updateOrderAddress">
    UPDATE orders
    SET address_id = #{addressId}, receiver = #{receiver}, phone = #{phone}, address = #{address}
    WHERE order_code = #{orderCode}
</update>
    <select id="getPriceByCode">
        SELECT totalPrice FROM orders WHERE order_code = #{orderCode}
    </select>
    <update id="setPayed">
        UPDATE orders
        SET payed = 1
        WHERE order_code = #{orderCode}
    </update>
</mapper>
